@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color :#2E3192 ;
    --secondary-color : #484BA0;

    --blue-color: #1496E9;
    --dark-blue-color: #2991D3;

    --yellow-color: #FFB800;
}

body {
    font-family: 'Poppins', sans-serif;
}


/* -----------BUTTONS---------- */
.buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.btn {
    display: flex;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    font-family: "Poppins",sans-serif;
}
.appnmntSimpleBtn{
    border: 0;
    border-radius: 10rem;
    padding: 0.5rem 1rem;
    gap: 0.3rem;
}
.primaryBtn{
    color: white;
    background-color: var(--primary-color);
}
.appnmntSimpleBtn img {
    height: 0.9rem;
}
.appnmntSimpleBtn p {
    font-size: 0.9rem;
    font-weight: 300;
}

/* ----------TEXT---------- */
.primaryText{
    color: var(--primary-color);
}

.title {
    font-size: 3rem;
    line-height: 3rem;
}
.titleBold {
    font-weight: bold;
}

.para {
    font-size: 1.2rem;
}

.content {
    max-width: 1920px;
    margin: 0 auto;
}


/* ----------NAVIGATION_BAR---------- */
header {
    background-color: white;
}

.navCont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    position: relative;
}

.logo {
    height: 2.5rem;
}
.logo .headerLogo {
    height: 100%;
    width: 100%;
}

.links {
    display: flex;
    gap: 0.5rem;
}
.links a {
    text-decoration: none;
    color: black;
}
.links a:hover {
    color: var(--primary-color);
}
.linkBtn {
    display: none; 
}
.linkBtn p {
    color: #2184C2;
    font-size: 0.9rem;
}

.headerBtn {
    background-image: linear-gradient(to bottom right , var(--primary-color) , var(--dark-blue-color));
    color: white;
    transition: transform 0.25s ease-in-out;
}
.blueBtn {
    background-color: var(--primary-color);
    color: white;
}
/* .headerBtn:hover {
    transform: scale(1.01);
} */

.menu {
    height: 1rem;
    display: none;
    align-items: center;
    cursor: pointer;

    position: relative;
    z-index: 1010;
}
/* .menuImg {
    height: 0.5rem;
    width: 0.5rem;
} */



@media (width <= 810px){
    .links {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;

        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;

        padding-inline:1rem;
        padding-top: clamp(5rem , 15vh , 50rem);
        padding-bottom: 3rem;

        background-color: var(--primary-color);

        min-height: 100dvh;
        width: 100vw;

        flex-direction: column;

    }
    .show {
        transform: translateX(0%);
    }
    .links a {
        color: white;
        font-size: 1.25rem;
        padding-bottom: 0.5rem;
        border-bottom: 0.1rem solid white ;
    }
    .linkBtn {
        display: flex;
    }

    .headerBtn {
        margin-left: auto;
        margin-right: 0.5rem;
    }

    .menu {
        display: flex;
    }
}

@media (width <= 480px){
    .headerBtn {
        display: none;
    }
}



/* ------------HERO_SECTION------------ */
#hero {
    position: relative;
    background-image: url(assets/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.heroDiv {
    flex-grow: 1;
}

.heroContent{
    padding: 4rem 1rem 0 1rem;
    display: flex;
    flex-direction: row;
    height: 100%;
    
}

.heroCont {
    width: 60%;
    min-height: 80%;
    
    display: flex;
    flex-direction: column;
    
    
    position: relative;
    z-index: 100;
}

.heroLogo{
    height: 4rem;
    display: inline-block;
}

.heroButtons {
    margin-top: 1rem;
}

.testimonial {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    overflow-x: hidden;

}
#swiper-1 {
    max-width: 100%;
}
#swiper-1 .swiper-wrapper {
    display: flex;

}
.swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    /* min-width: 100%; */
    overflow: hidden;

} 
.swiper .swiper-slide .testimonialCont{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.swiper .swiper-slide .testimonialPhoto {
    height: 100%;
    min-height: 140px;
    min-width: 110px;
    width: auto;
    max-width: 6rem;
    overflow: hidden;
    background-color: var(--primary-color);
    display: flex;
    align-items: end;

    border-radius: 11px 4px 4px 33px;
}
.swiper .swiper-slide .testimonialPhoto img {
    max-width: 100%;
    height: auto;
}
.swiper .swiper-slide .testimonialDetails .testimonialStars {
    display: flex;
    align-items: center;
}

.heroImg {
    width: 40%;
    min-height: 80%;   
    position: relative;
    z-index: 0; 
}
.heroImg img{
    width: 100%;
}



.shapeDivider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.shapeDivider svg {
    position: relative;
    display: block;
    width: calc(112% + 1.3px);
    height: 144px;
}

.shapeDivider .shape-fill {
    fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .shapeDivider svg {
        width: calc(100% + 1.3px);
        height: 76px;
    }
}
